#grid-Project{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    position: absolute;
    top: 200px;
      
}
.grid__item{
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
  }
  @media all and (max-width: 500px) {
    #grid-Project{
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    #grid-Project {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 750px) {
    #grid-Project{
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h2 {
      font-size: 22px;
    }
  }
  /* Was trying to make work disapear for smaller view. */
  @media screen and (max-width: 600px) {
    h1 {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }